################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DPSCalc2/DPSCalc2.VC.db
/DPSCalc2/DPSCalc2.VC.VC.opendb
/DPSCalc2/.vs/DPSCalc2/v14
/DPSCalc2/DPSCalc/DPSCalc.vcxproj.filters
