################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DPSCalc2/DPSCalc2.VC.db
